.DS_Store
/week3/StephanieOrpillaProject3/nbproject/private/
/week3/StephanieOrpillaProject3/build/
/week4/StephanieOrpillaProject4/nbproject/private/
/week4/StephanieOrpillaProject4/build/
/week5/StephanieOrpillaProject5/nbproject/private/
/week5/StephanieOrpillaProject5/build/
/week7/StephanieOrpillaProject7/nbproject/private/
/week7/StephanieOrpillaProject7/build/